@media only screen and (max-width: 768px) {
    .hideCol {
        display: none;
    }
}

#grid {
    width: 700px;
    height: 550px;
    overflow: scroll;
}

@media only screen and (max-width: 360px) {
    #grid {
        width: 335px;
    }
}

.ag-header-cell-text {
    color: darkblue;
    font-weight: 700;
}