<div class="ui  inverted dimmer" [class.active]="loading">
    <div class="ui text loader">Loading</div>
</div>

<div class="main_header" style="height: 100px;">
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <div class="leftSide">
                <img src="https://webstockreview.net/images/clipart-world-celebration-11.png" style="width: 27%; margin-left: 35%;" />
            </div>
        </div>

        <div class="col-lg-7 col-md-7 col-sm-7 hideCol">
            <div>
                <h1>Let's Stay Safe & Fight Together Against Corona Virus
                    <span id="coronaRot"><img src="https://hubpng.com/public/uploads/preview/coronavirus-image-png-11583095637cqmu7sw78e.png" style="width: 7%;" /></span>
                </h1>
            </div>

        </div>
    </div>

</div>

<div class="jumbotron text-center">
    <h2>
        <span class="leftSide">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Basic_red_dot.png" style="width: 1%; margin-right: 8px;">
        </span>Covid19 WorldWide Live Status</h2>
    <dashboard-card [totalConfirmed]="totalConfirmed" [totalRecovered]="totalRecovered" [totalActive]="totalActive" [totalDeath]="totalDeath"></dashboard-card>
</div>


<div class="row" style="padding: 3%;">
    <!-- <ag-grid-angular style="width: 1030px; height: 550px;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs">
    </ag-grid-angular> -->
    <div class="col col-lg-8 col-md-8 col-sm-8">
        <h3 class="text-center" style="margin-bottom: 2%;
        margin-left: -14%;
        font-size: x-large;
        font-weight: 700;
        color: darkblue;">COUNTRY WISE STATUS</h3>
        <ag-grid-angular style="width: 700px; height: 550px;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs">
        </ag-grid-angular>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-4">
        <h3 class="text-center" style="margin-top: 10%;
        margin-bottom: 5%;
        margin-left: -14%;
        font-size: x-large;
        font-weight: 700;
        color: darkcyan;">CHART DISPLAY</h3>
        <div class="ui form" style="margin-left:2%;">
            <div class="inline fields">
                <label for="fruit">Select Case Type:</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" #confirmed id="confirmed" value="confirmed" name="caseType" checked="" tabindex="0" class="hidden" (click)="updateChart(confirmed)">
                        <label for="confirmed">Confirmed</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" #recovered id="recovered" value="recovered" name="caseType" tabindex="0" class="hidden" (click)="updateChart(recovered)">
                        <label for="recovered">Recovered</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" #active id="active" value="active" name="caseType" tabindex="0" class="hidden" (click)="updateChart(active)">
                        <label for="active">Active</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" #death id="death" value="death" name="caseType" tabindex="0" class="hidden" (click)="updateChart(death)">
                        <label for="death">Death</label>
                    </div>
                </div>
            </div>
        </div>
        <google-chart [type]="chart.PieChart" [data]="datatable" style="width:100%;" [height]="chart.height" [options]="chart.options"></google-chart>

    </div>
</div>

<hr/>


<symptoms-and-precautions></symptoms-and-precautions>

<footer>
    <div class="bg-dark" style="width: 100%;">
        <p class="text-center" style="color: ghostwhite;">Covid-19 Tracker WebSite</p>
    </div>
</footer>